name: veteranam
description: veteran
version: 0.1.1+16
publish_to: none

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  animated_text_kit: ^4.2.2
  bloc: ^8.1.3
  cached_network_image: ^3.3.1
  cloud_firestore: ^5.0.2
  collection: ^1.18.0
  connectivity_plus: ^6.0.3
  dartz: ^0.10.1
  easy_debounce: ^2.0.3
  email_validator: ^3.0.0
  equatable: ^2.0.5
  firebase_analytics: ^11.0.1
  firebase_auth: ^5.1.0
  firebase_core: ^3.1.0
  firebase_storage: ^12.0.1
  flutter:
    sdk: flutter
  flutter_bloc: ^8.1.4
  flutter_localizations:
    sdk: flutter
  flutter_markdown: ^0.7.1
  flutter_rating_bar: ^4.0.1
  flutter_secure_storage: ^9.0.0
  flutter_svg: ^2.0.10+1
  formz: ^0.7.0
  freezed: ^2.5.3
  freezed_annotation: ^2.4.1
  get_it: ^7.6.0 # Used for dependency injection
  go_router: ^14.0.2 # Decoupled routing  package which is a must for any app
  google_sign_in: ^6.2.1
  image_picker: ^1.1.1
  injectable: ^2.3.4 # Used for dependency injection
  intl: ^0.19.0
  json_serializable: ^6.7.1
  material_symbols_icons: ^4.2744.0
  package_info_plus: ^8.0.0
  # path_drawing: ^1.0.1
  # pdf: ^3.11.0
  # printing: ^5.13.1
  sentry_flutter: ^8.4.0
  share_plus: ^9.0.0
  skeletonizer: ^1.3.0
  url_launcher: ^6.2.5
  web: 0.5.1

dependency_overrides:
  flutter_secure_storage_web: ^2.0.0-beta.1
  meta: ^1.15.0
  vector_graphics_compiler:
    git:
      url: https://github.com/nohli/vector_graphics
      path: packages/vector_graphics_compiler
      ref: js_interop

dev_dependencies:
  bloc_test: ^9.1.7

  build_runner: ^2.4.8 # Used for class generation
  flutter_launcher_icons: ^0.13.1
  flutter_native_splash: ^2.4.1
  flutter_test:
    sdk: flutter

  injectable_generator: ^2.5.0 # Used for dependency injection for get_it
  integration_test:
    sdk: flutter
  intl_utils: ^2.8.7
  json_annotation: ^4.8.1 # Defines the annotations used by json_serializable
  mockito: ^5.4.4 # Used for mocking classes
  mocktail: ^1.0.3
  plugin_platform_interface: ^2.1.8
  url_launcher_platform_interface: ^2.3.2
  very_good_analysis: ^6.0.0

flutter:
  uses-material-design: true
  generate: true

  # icons
  assets:
    - assets/icons/
    - assets/images/
    - assets/markdown/

  fonts:
    - family: Gilroy
      fonts:
        # - asset: assets/fonts/Gilroy-Thin.woff
        #   weight: 100
        #   style: normal
        # - asset: assets/fonts/Gilroy-Light.woff
        #   weight: 300
        #   style: normal
        - asset: assets/fonts/Gilroy-Medium.woff
          weight: 400
          style: normal
        - asset: assets/fonts/Gilroy-Regular.woff
          weight: 500
          style: normal
        # - asset: assets/fonts/Gilroy-Semibold.woff
        #   weight: 600
        #   style: normal
        # - asset: assets/fonts/Gilroy-Bold.woff
        #   weight: 700
        #   style: normal
        # - asset: assets/fonts/Gilroy-Extrabold.woff
        #   weight: 800
        #   style: normal
        # - asset: assets/fonts/Gilroy-Black.woff
        #   weight: 900
        #   style: normal

        # - asset: assets/fonts/Gilroy-ThinItalic.woff
        #   weight: 100
        #   style: italic
        # - asset: assets/fonts/Gilroy-LightItalic.woff
        #   weight: 300
        #   style: italic
        # - asset: assets/fonts/Gilroy-MediumItalic.woff
        #   weight: 400
        #   style: italic
        # - asset: assets/fonts/Gilroy-RegularItalic.woff
        #   weight: 500
        #   style: italic
        # - asset: assets/fonts/Gilroy-SemiboldItalic.woff
        #   weight: 600
        #   style: italic
        # - asset: assets/fonts/Gilroy-BoldItalic.woff
        #   weight: 700
        #   style: italic
        # - asset: assets/fonts/Gilroy-ExtraboldItalic.woff
        #   weight: 800
        #   style: italic
        # - asset: assets/fonts/Gilroy-HeavyItalic.woff
        #   weight: 900
        #   style: italic
# flutter_intl:
#   enabled: true # Required. Must be set to true to activate the package. Default: false
#   class_name: AppLocalizations # Optional. Sets the name for the generated localization class. Default: S
#   main_locale: en # Optional. Sets the main locale used for generating localization files. Provided value should consist of language code and optional script and country codes separated with underscore (e.g. 'en', 'en_GB', 'zh_Hans', 'zh_Hans_CN'). Default: en
#   arb_dir: lib/l10n # Optional. Sets the directory of your ARB resource files. Provided value should be a valid path on your system. Default: lib/l10n
#   output_dir: lib/generated # Optional. Sets the directory of generated localization files. Provided value should be a valid path on your system. Default: lib/generated
#   use_deferred_loading: false # Optional. Must be set to true to generate localization code that is loaded with deferred loading. Default: false
#   localizely: # Optional settings if you use Localizely platform. Read more: https://localizely.com/blog/flutter-localization-step-by-step/?tab=automated-using-flutter-intl
#     project_id: # Get it from the https://app.localizely.com/projects page.
#     branch: # Get it from the “Branches” page on the Localizely platform, in case branching is enabled and you want to use a non-main branch.
#     upload_overwrite: # Set to true if you want to overwrite translations with upload. Default: false
#     upload_as_reviewed: # Set to true if you want to mark uploaded translations as reviewed. Default: false
#     upload_tag_added: # Optional list of tags to add to new translations with upload (e.g. ['new', 'New translation']). Default: []
#     upload_tag_updated: # Optional list of tags to add to updated translations with upload (e.g. ['updated', 'Updated translation']). Default: []
#     upload_tag_removed: # Optional list of tags to add to removed translations with upload (e.g. ['removed', 'Removed translation']). Default: []
#     download_empty_as: # Set to empty|main|skip, to configure how empty translations should be exported from the Localizely platform. Default: empty
#     download_include_tags: # Optional list of tags to be downloaded (e.g. ['include', 'Include key']). If not set, all string keys will be considered for download. Default: []
#     download_exclude_tags: # Optional list of tags to be excluded from download (e.g. ['exclude', 'Exclude key']). If not set, all string keys will be considered for download. Default: []
#     ota_enabled: # Set to true if you want to use Localizely Over-the-air functionality. Default: false
