<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326120302123-6imcoq7lddeov8i8dcicp15cjn6a418u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326120302123-6imcoq7lddeov8i8dcicp15cjn6a418u</string>
	<key>API_KEY</key>
	<string>AIzaSyC23K7nwAkDvjcZAs5auqB1SjChELepAQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>326120302123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.veteranam</string>
	<key>PROJECT_ID</key>
	<string>veteran-production</string>
	<key>STORAGE_BUCKET</key>
	<string>veteran-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326120302123:ios:f7fe329bb88f4091edac6e</string>
</dict>
</plist>