<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32851885972-39m4c4lb48qj9p40542l7o0d8hebfoaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32851885972-39m4c4lb48qj9p40542l7o0d8hebfoaa</string>
	<key>API_KEY</key>
	<string>AIzaSyCbrgwKWeMZ69SHecID9NFHohsA7v8YOss</string>
	<key>GCM_SENDER_ID</key>
	<string>32851885972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.veteranam.dev</string>
	<key>PROJECT_ID</key>
	<string>veteran-development</string>
	<key>STORAGE_BUCKET</key>
	<string>veteran-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32851885972:ios:1f70471fce23766fecd981</string>
</dict>
</plist>