name: CI - Build and Test

concurrency:
  group: CU-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  pull_request:
    branches: [main]

env:
  SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

jobs:
  semantic-pull-request:
    uses: CodingHouseStudio/flutter_workflows/.github/workflows/semantic_pull_request.yml@main

  build:
    needs:
      - semantic-pull-request
      - spell-check
    uses: CodingHouseStudio/flutter_workflows/.github/workflows/flutter_package.yml@main
    with:
      flutter_channel: stable
      flutter_version: 3.24.1
      min_coverage: 95
      format_directories: "lib test"

  spell-check:
    uses: CodingHouseStudio/flutter_workflows/.github/workflows/spell_check.yml@main
    with:
      includes: |
        **/*.md
      modified_files_only: false
      config: .github/cspell.json
